################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/QQGroup_AIMessageBot/bin/Debug
/QQGroup_AIMessageBot/obj
/QQGroup_AIMessageBot/Models/AppSettings.cs
